{% extends 'base.html' %}
{% block content %}
{% if warning %}
<div class="alert alert-warning" role="alert">
  {{warning}}
</div>
{% endif %}
{% if success %}
<div class="alert alert-success" role="alert">
  {{success}}
</div>
{% endif %}
<div>
    <h1>Check Certificate</h1>
    <hr>
    <form method="POST" enctype="multipart/form-data">
        <div class="form-group">
                <label >Certificate:</label>
                <input type="file" class="form-control" id="file"  name="file">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
