{% extends 'base.html' %}
{% block content %}
{% if warning %}
<div class="alert alert-warning" role="alert">
  {{warning}}
</div>
{% endif %}
{% if success %}
<div class="alert alert-success" role="alert">
  {{success}}
</div>
{% endif %}
<div class="card shadow mb-4">
  <div class="card-body">
    <h1>Check Certificate</h1>
    <hr>
    <br>
    <form method="POST" enctype="multipart/form-data">
        <div class="form-group container p-3 my-3 border">
            <label >Certificate:</label>
            <input type="file" class="form-control" id="file"  name="file">
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
  </div>
</div>
{% endblock %}
